.RegistrationPanel {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    background-image: url(/src/assets/images/bg-white.png);
    background-size: cover;
    background-position: center top;
    min-height: 800px;
    /* height: calc(100vh - 60px); */
}

.LeftSide, .RightSide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: .4;
    padding: 10px;
}

.RightSide {
    flex: .4;
}

.LeftSidePanel, .RightSidePanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 370px;
    background-color: #F5F5F5;
    border-radius: 3px;
    color: #555;
    padding: 10px;    
    border: 1px solid rgba(0, 0, 0, 0.075);
}

.Title {
    font-size: 1.17em;
    font-weight: bold;
    padding: 15px 0;
}

.Price {
    position: relative;
    padding: 25px 0;
    font-weight: 400;
    font-size: 64px;
    line-height: 1;
}

.Price::after {
    content: '';
    position: absolute;
    width: 100px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    top: auto;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
}

.Features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    font-weight: 400;
    line-height: 1.5;
}

.Features > * {
    padding: 6px 0;
    font-size: 1.05rem;
}

.Features > div:last-child {
    cursor: pointer;
}

.RightSidePanel {
    max-width: 520px;
    padding: 24px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.RightSideTitle {
    margin-bottom: 30px;
}

.RightSideTitle > h1 {
    color: black;
    font-size: 22px;
}

.RightSideTitle > span {
    font-size: 16px;
    max-width: 620px;
    line-height: 30px;
    color: #454545;
    letter-spacing: 1px;
    font-weight: 300;
}

.RightSideForm {
    align-self: flex-start;
    width: 100%;
    max-width: 300px;
}

.RightSideForm > div {
    margin-bottom: 25px;
}

.RightSideForm > .Column {
    display: flex;
    flex-direction: column;
}

.RightSideForm label:not(:last-child) {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 10px;
    cursor: pointer;
}

.RightSideForm input[type='text'], .RightSideForm input[type='password'] {
    border-radius: 3px;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.RightSideFormAgreement {
    display: flex;
    align-items: center;
}

.RightSideFormAgreement input {
    margin-right: 5px;
}

.RightSideFormSubmit {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-bottom: 30px !important;
    border-radius: 23px;
    padding: 0 26px;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    cursor: pointer;
    background-color: #4772d9;
}

.RightSideForm em {
    font-size: small;
    font-weight: 300;
}

@media (max-width: 768px) {
    .RegistrationPanel {
        flex-direction: column;
        justify-content: flex-start;
        background-size: 300%;
        max-height: none;
    }
}